#about_section1
  background: url('/images/about/about1.png')
  background-size: 100% 100%
  background-repeat: no-repeat

#about_section2
  background: url('/images/about/about2.png')
  background-size: 100% 100%
  background-repeat: no-repeat

#about_section3
  background: url('/images/about/about3.png')
  background-size: 100% 100%
  background-repeat: no-repeat

.about_section
  z-index: -1
  min-height: 100%

.about_content
  color: white
  background: gray
  width: 25%
  margin-left: auto
  margin-right: auto
  padding: 50px
  opacity: 0.6
  border-radius: 25px

#next_section
  position: absolute
  bottom: -5px
  left: 45%
