#node_status_widget
  position: fixed
  bottom: 10px
  left:   10px
  border: 1px solid black
  width:  300px
  height: 75px
  background: gray
  z-index: 1

.node_active
  color: green
  font-weight: bold

.node_inactive
  color: red
  font-weight: bold

#nav
  width: 500px
  margin: 0px auto
  border-bottom: 1px solid black
  padding-bottom: 5px

.nav_link
  float: left
  width: 33%

.nav_link a
  color: black
  text-decoration: none
  font-weight: bold

.post
  width: 50%
  margin: 0px auto

.justify_post
  text-align: justify

.back_link
  color: black
  text-decoration: none
  font-weight: bold

.code, .note
  padding: 5px
  margin-left: 20px
  border: 1px solid black
  background: #F0F0F0

.clear_both
  clear: both

.inline_screen_left
  width: 35%
  float: left
  padding-right: 20px

.inline_screen_right
  width: 35%
  float: right
  padding-left: 20px

.centered_screen
  width: 55%
  display: block
  margin-left: auto
  margin-right: auto

.spacer
  margin-bottom: 20px

.inline_screen_text
  margin-top: 50px

.captioned_screenshot
  float: left
  margin-right: 10px
  border: 1px solid black

//.captioned_screenshot img
//.caption

.fw_screenshot img
  width: 90%
