---
title: Omega A Universe Over IP
author: Mo Morsi
date: 2014-01-01 13:24:59 -05:00
---
= omega_blog_title

.post
  %p
    The Omega Project aims to develop a universe simulator accessible by
    registered users over the json-rpc protocol. This allows the most users and
    developers to access and control entities and subsystems via any programming
    language and transport protocol.

  %p
    This is the first blog post in what will hopefully be a long running blog
    relating to the Omega project.

= omega_blog_footer
