---
title: Omega On FLOSS Weekly
author: Mo Morsi
date: 2014-01-29 21:23:51 -05:00
---
= omega_blog_title

.post
  %p
    Be sure to checkout
    #{link_to "today's episode", "http://twit.tv/show/floss-weekly/281"}
    of FLOSS Weekly which featured Omega. We'd like to thank the hosts
    and producers of the show, we thought the production and live demo went
    well and we had a great time!

  %iframe{:src          => "http://twit.tv/embed/14687",
          :width        => "640",
          :height       => "320",
          :scrolling    => "no",
          :marginwidth  => "0",
          :marginheight => "0",
          :hspace       => "0",
          :align        => "middle",
          :frameborder  => "0"}

  %br
  %br

= omega_blog_footer
