---
title: Now Introducing... Badges!!!
author: Mo Morsi
date: 2014-01-10 21:20:03 -05:00
---
= omega_blog_title

.post
  %p
    And now something completely different! Introducing:
    <marquee><b>Omega Badges!!!</b></marquee>

  = link_to image_tag("/images/badge-small.png"), "/images/badge-small.png"

  %p
    Perfect for your blog, social media and more. Order now, supplies
    are limited!!!!

= omega_blog_footer
