---
title: Omega @ Notacon
author: Mo Morsi
date: 2014-03-22 17:32:37 -05:00
---
= omega_blog_title

.post.justify_post{:style => "padding: 10px 0 10px 0;"}
  %p
    It's been a while, am in the midst of alot of happenings and unfortunately
    blogging has had to take a backseat.

  %p
    One of those upcoming happenings though is the
    #{link_to "Notacon 11", "http://notacon.org"} conference this April 10-13th
    in Cleveland, OH where I will be presenting Omega!

  %p
    Work is well underway on slides and a demo and I'm looking forward to
    attending the event, last time I went (Notacon 8 in 2011) I had a blast,
    it's definetly quite unique. I will be attending with a few friends as well
    making the event all the better.

  %p
    So again updates to the blog may be a bit more sporadic than I would like
    but be sure to checkout the codebase for all the latest updates and here as
    well as I post content for the conference.

  %p
    Until next time be sure to checkout this new tech demo / cutscene which was
    #{commit_link "recently added", "a91fc8a53"} to the codebase:

  %iframe{:width => "840", :height=> "530", :frameborder => "0",
          :allowfullscreen => true,
          :style => "padding: 20px",
          :src   => "http://www.youtube.com/embed/l-_1oJEv50A"}

= omega_blog_footer
