- content_for :javascripts do
  = javascript_include_tag "pages/index"

- content_for :stylesheets do
  = stylesheet_link_tag "index"

/= partial :dialog

%ul#post_list
  - blog.articles[0...1000].each do |article|
    %li.post_list_item
      %span.post_list_item_link
        = link_to article.title, article
      %span.post_list_item_time
        = article.date.strftime('%b %e, %Y')
    %div{:style => "clear: both;"}
